.c-social-icons {
  a {
    display: inline-block;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: 5px;
    }
    i {
      height: 34px;
      width: 34px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: get-color('white');
      background-color: get-color('grey');
      border-radius: 50%;
    }
    &:hover {
      i {
        background-color: get-color('secondary');
      }
    }
  }
}
