.bg-cover {
    background-position: center center;
    background-size: cover;
}

.bg-contain {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
