.p-login {
  form {
    max-width: 300px;
    margin: 0 auto;
    input[type="text"],
    input[type="password"] {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid get-color("secondary");
      outline: none;
      box-shadow: none;
      &:focus {
        border-bottom: 2px solid get-color("brand");
        
      }
    }
  }
}
