.l-subheader {
  background-color: get-color("light");
  border-bottom: 1px solid rgba(get-color("grey"), 0.2);
  min-height: 45px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 53px;
  z-index: z("vegeta");
  width: 100%;

  @include e("icons") {
    height: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    position: relative;
    right: -15px;
    
    &-item {
      font-size: 22px;
      padding: 0 10px;
      min-width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      i {
        color: get-color("grey");
      }
      
      &:hover {
        // background-color: rgba(get-color("grey"), 0.8);
        color: get-color("brand");
        i {
          color: get-color("brand");
        }
        span {
          display: block;
        }
      }
      span {
        font-size: 14px;
        margin-left: 10px;
        // display: none;
      }
    }
  }
}
