.e-pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-numbers {
        @include transition($transition-base);

        border: 2px solid get-color("brand");
        border-radius: 2px;
        min-width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: get-color("brand");
        padding: 0 10px;

        &.current,
        &:focus,
        &:hover {
            @include transition($transition-base);

            background-color: get-color("brand");
            text-decoration: none;
            color: get-color("white");
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
